{% extends 'base.html' %}

{% block more_css %}
<style>
 body {
  background-color: rgb(35, 103, 162);
 }

 .countdown {
   font-size: 42pt;
 }
</style>
{% endblock %}

{% block main %}
<div class="container" style="background-color: white">
<header class="row web-view">
 <div class="col-md-12 page-header">
   <div class="col-md-8">
    <h1>Using BIBFRAME, Flask, and Fedora4 as a Catalog Pull Platform
     <small>Jeremy Nelson, Colorado College</small></h1>
   </div>
   <div class="col-md-4">
    <img src="{{ url_for('static', filename='img/DLF_logo.png') }}">
    <h4 class="pull-right">DLF Forum 2014<br>Poster &amp; Lightning Talk<br>27th October 2014</h4>
   </div>
 </div>
</header>
<div class="row">
 <div class="col-md-10" id="presentation-panel">
   <div id="presentation"></div>

 </div>
 <div class="col-md-2 well well-sm" id="presentation-widget">
  <div><span class="countdown" data-bind="style: {color: counterColor()}">:</span> <span class="countdown" 
                                              data-bind="text: counter,
                                                         style: {color: counterColor()}" 
                                              ></span></div>
  <div class="btn-group-vertical center-block">
   <button type="button" class="btn btn-success"
       data-bind="click: startPresentation">
     <i class="glyphicon glyphicon-play"></i>
     Start</button>
   <button type="button" class="btn btn-warning"
      data-bind="click: posterView">
     Poster View</button>
   <button type="button" class="btn btn-default" data-toggle="modal" data-target="#aboutDlg">
     About</button>
   <a href="/references" class="btn btn-default">
     References</a>

  </div>
 </div>
</div>
</div>
{% endblock %}


{% block dialogs %}
<div class="modal fade" id="aboutDlg" tabindex="-1" role="dialog" aria-labelledby="aboutDlgLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="aboutDlgLabel">About</h4>
      </div>
      <div class="modal-body">
        <p class="lead">
         This poster presentation was created by <a href="mailto:jeremy.nelson@coloradocollege.edu">Jeremy Nelson</a>, 
         Metadata and Systems Librarian at Colorado College. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block more_js %}
<script>
 function PosterViewModel() {
  var self = this;
 
  self.counter = ko.observable(60);
  self.counterColor = ko.observable("green");
 
  self.svgDraw = SVG('presentation').size(800, 600);

  self.slide = self.svgDraw.group();

  self.posterView = function()  {
   self.slide.clear();
   $('#presentation-panel').removeClass('col-md-10');
   $('#presentation-panel').addClass('col-md-12');
   $('#presentation-widget').addClass('hidden');
   self.svgDraw =  SVG('presentation').size(2592, 2592);
   self.slides[0].show();
  }

  self.whatCatalogPullPlatform = function(svgDraw) {
     var titleGroup = svgDraw.group();
     console.log("In whatCatalogPullPlatform");
     self.slide.add(titleGroup);
     var title = svgDraw.text("What is a Catalog Pull Platform?");
     titleGroup.add(title.font({ size: 48 }).move(20,20));
     var explainGroup = svgDraw.group();
     self.slide.add(explainGroup);
     explainGroup.add(svgDraw.text("The Tutt Library Catalog Pull Platform:").font({ size: 36 }).x(20))
     explainGroup.add(svgDraw.line(20, 85, 80, 85).stroke({ width: 2 }));
     explainGroup.add(svgDraw.text("catalogs for libraries and other cultural heritage institutions").font({ size: 24 }).move(90, 60));
     explainGroup.move(50,60);
     var ypos = 110;
     var enables = svgDraw.text("enables").font({ size: 24 }).fill( { color: "#ff0000" }).hide();
     self.slide.add(enables);
     var builds = svgDraw.text("builds").font({ size: 24 }).fill( { color: "#ff0000" }).hide();
     self.slide.add(builds);
     var creates = svgDraw.text("creates").font({ size: 24 }).fill( { color: "#ff0000" }).hide();
     self.slide.add(creates);
     var modifies = svgDraw.text("modifies").font({ size: 24 }).fill( { color: "#ff0000" }).hide();
     self.slide.add(modifies);
     enables.move(50, ypos).show().animate(1000).after(function() {
      enables.animate(2000).move(50, ypos+25).after(function() {
        builds.move(70, ypos).show(); 
        builds.animate(2000).move(70, ypos+50).after(function() {
//          title.font({ size: 32, family: 'Helvetica' }).move(180, 140);
          creates.move(50, ypos).show();
          creates.animate(2000).move(50, ypos+80).after(function() {
            modifies.move(45, ypos).show().animate(2000).after(function() {
              title.text("Reclaiming the Catalog");

                          });
          });
        });
      });
     });

   }

  self.bibframeLD = function() {
    var titleGroup = self.svgDraw.group();
    titleGroup.add(self.svgDraw.text("BIBFRAME and Linked Data").font({ size: 48 }).move(20,20));
    self.slide.add(titleGroup);
    var bibframe_desc = self.svgDraw.group()
    self.slide.add(bibframe_desc);
    bibframe_desc.add(self.svgDraw.image("{{ url_for('static', filename='img/bibframe-newlogo.jpg') }}"));
    bibframe_desc.add(self.svgDraw.text("BIBFRAME is a new linked-data vocabulary").font({ size: 24 }).x(210));
    bibframe_desc.add(self.svgDraw.text("sponsored by the Library of Congress to replace").font({ size: 24 }).move(210,36));
    bibframe_desc.add(self.svgDraw.text("MARC21. Website and vocabulary available at ").font({ size: 24 }).move(210, 65));
    bibframe_desc.add(self.svgDraw.text("http://bibframe.org/").font({ size: 24 }).fill({ color: "#0000FF"}).move(210, 94)); 
    var bibframe_ld_example = self.svgDraw.group();
    self.slide.add(bibframe_ld_example);
    bibframe_ld_example.add(self.svgDraw.text("Example of a BIBFRAME Triple").font({ size: 36 }));
    bibframe_ld_example.hide();
    bibframe_desc.move(50, 75).animate(1000).after(function() {
     bibframe_ld_example.move(bibframe_desc.x, 200).show().animate(2000).move(120, 230).after(
      function() {
       var bf_work_subject = self.svgDraw.group();
       self.slide.add(bf_work_subject);
       var subject_ellipse = self.svgDraw.ellipse(475, 75).opacity(0.3); 
       bf_work_subject.add(subject_ellipse); 
       bf_work_subject.add(self.svgDraw.text("Subject URI Node").font({ size: 18 }).fill({ color: "#FF0000" }).x(140));
       bf_work_subject.add(self.svgDraw.text("http://catalog:8080/rest/bibframe/Work/54232d42650b8c2544a2a089").font({ size: 14, weight: 'bold' }).move(6, 35));
       bf_work_subject.hide().move(25,300);
       var bf_work_to_authAccessPt = self.svgDraw.group();
       self.slide.add(bf_work_to_authAccessPt);
       var bf_work_line = self.svgDraw.line(250, 80, 412, 100).stroke({ width: 3});
       bf_work_to_authAccessPt.add(bf_work_line); 
       bf_work_to_authAccessPt.move(25,300).hide()
       var bf_authAccessPt = self.svgDraw.group();
       self.slide.add(bf_authAccessPt);
       var predicate_ellipse = self.svgDraw.ellipse(350, 75).opacity(0.3).fill({ color: "#FF0000"});
       bf_authAccessPt.add(predicate_ellipse);
       bf_authAccessPt.add(self.svgDraw.text("Predicate URI Node").font({ size: 18 }).fill({ color: "#009933" }).x(105));
       bf_authAccessPt.add(self.svgDraw.text("http://bibframe.org/vocab/authorizedAccessPoint").font({ size: 14, weight: 'bold' }).move(6, 27));
       bf_authAccessPt.hide().move(450, 375);
       var bf_literal = self.svgDraw.group();
       self.slide.add(bf_literal);
       var object_ellipse = self.svgDraw.ellipse(225, 75).opacity(0.3).fill({ color: "#009933"});
       bf_literal.add(object_ellipse);
       bf_literal.add(self.svgDraw.text("Object Literal Node").font({ size: 18 }).fill({ color: "#777777"}).x(35));
       bf_literal.add(self.svgDraw.text('"Medieval religious women"').font({ size: 14, weight: 'bold' }).move(20, 30));
       bf_literal.hide().move(50, 450);
       var bf_authAccessPt_to_literal = self.svgDraw.group();
       self.slide.add(bf_authAccessPt_to_literal);
       bf_authAccessPt_to_literal.add(self.svgDraw.line(175, 50, 412, 15).stroke({ width: 3}));
       bf_authAccessPt_to_literal.hide().move(60,410); 
       bf_work_subject.show().animate(1000).after(function() {
         bf_work_to_authAccessPt.show().animate(1000).after(function() {
            bf_authAccessPt.show().animate(1000).after(function() {
             bf_authAccessPt_to_literal.show().animate(1000).after(function() {
               bf_literal.show().animate(2500).after(function() {
               });          
             });
            });
         });
       });
     });
    });
  }

  self.fedora4 = function() {
   var titleGroup = self.svgDraw.group();
   self.slide.add(titleGroup);
   titleGroup.add(self.svgDraw.text("Fedora Commons Digital Repository" ).font({ size: 48 }).move(20,20));
   var fedora_desc = self.svgDraw.group();
   self.slide.add(fedora_desc)
   fedora_desc.add(self.svgDraw.image("{{ url_for('static', filename='img/fedora-commons-4-beta.png') }}").move(465, 80));
   fedora_desc.show().animate(1000).after(function() {
     var lines =  ["Version 4.0 Beta Released in June 2014", 
                   "production version by the end of the year"];
     var features = ["Metadata stored as RDF Graphs\n(not XML files)",
                     "RESTful HTTP API for CRUD operations\non objects and properties",
                     "New support for Namespaces, Workspaces,\n& Transactions",
                     "Batch Operations, External Search, External Triplestores"];
     var description = self.svgDraw.text(lines[0] + "\n" + lines[1]).font({ size: 24 });
     self.slide.add(description);
     description.move(20, 80).animate(1000).after(
      function() {
        var feature1 = self.svgDraw.group();
        self.slide.add(feature1);
        feature1.add(self.svgDraw.circle(10).fill({ color: '#FF1111'}).y(10));
        feature1.add(self.svgDraw.text(features[0]).font({ size: 18 }).fill({ color: '#FF1111'}).x(15));
        feature1.move(20, 150).animate(1500).scale(2,2).after(function() {
           feature1.scale(1, 1).animate(1000).y(290);
           var feature2 = self.svgDraw.group();
           self.slide.add(feature2);
           feature2.add(self.svgDraw.circle(10).fill({ color: '#FF1111'}).y(10));
           feature2.add(self.svgDraw.text(features[1]).font({ size: 18 }).fill({ color: '#FF1111'}).x(15));
           feature2.move(20, 150).animate(1500).scale(2,2).after(function() {
            feature2.scale(1,1).animate(1000).y(240); 
            var feature3 = self.svgDraw.group();
            self.slide.add(feature3);
            feature3.add(self.svgDraw.circle(10).fill({ color: '#FF1111'}).y(10));
            feature3.add(self.svgDraw.text(features[2]).font({ size: 18 }).fill({ color: '#FF1111'}).x(15));
            feature3.move(20, 150).animate(1500).scale(2,2).after(function() {
              feature3.scale(1,1).animate(1000).y(195); 
              var feature4 = self.svgDraw.group();
              self.slide.add(feature4);
              feature4.add(self.svgDraw.circle(10).fill({ color: '#FF1111'}).y(10));
              feature4.add(self.svgDraw.text(features[3]).font({ size: 18 }).fill({ color: '#FF1111'}).x(15));
              feature4.move(20, 150).animate(1500).scale(2,2).after(function() {
                feature4.scale(1,1).animate(2000).y(155).after(function() {
                                  });
              })
            }); 
           });
        });
     });
   });

  }

  self.flaskAndFedora = function() {
   var titleGroup = self.svgDraw.group();
   self.slide.add(titleGroup);
   titleGroup.add(self.svgDraw.text("Flask and Fedora 4" ).font({ size: 48 }).move(20,20));
   var flask_intro = self.svgDraw.group();
   self.slide.add(flask_intro);
   var flask_img = self.svgDraw.image("{{ url_for('static', filename='img/flask-logo.png') }}");
   flask_intro.add(flask_img.move(20, 150));
   flask_img.animate().scale(0.5,0.5).after(function() {
      var flask_text = self.svgDraw.text("Flask is a web microframework for Python").font({ size: 22 });
      flask_intro.add(flask_text.move(155, 170));
      flask_text.animate(3000).dmove(80, -100).after(function() {
        var flask_desc = self.svgDraw.text(function(add) {
          add.tspan("Flask applications typically are small and lightweight").newLine()
          add.tspan("Additional functionality is added through Flask Extensions").newLine()
        });
        flask_desc.build(true);
        flask_intro.add(flask_desc);
        flask_desc.font({ size: 16, weight: 'bold' }).fill({ color: '#0000FF' }).move(240, 110);
        var fedora4_img = self.svgDraw.image("{{ url_for('static', filename='img/fedora-commons-4-beta.png') }}");
        self.slide.add(fedora4_img);
        fedora4_img.move(40, 280).back();
        fedora4_img.animate(3000).dmove(375, -180).after(function() {
          fedora4_img.back();
          flask_text.text("Flask-FedoraCommons Extension");
          flask_desc.tspan("Open source project started in 2013 for Fedora 3.7.x").newLine();
          flask_desc.tspan("Updated to Fedora 4 using Python 3 in 2014").newLine();
          flask_desc.tspan("Repository available at:").newLine();
          flask_desc.tspan("https://github.com/jermnelson/flask-fedora-commons/").fill({ color: "#FF00FF" }).newLine();
          fedora4_img.animate(3000).dmove(150, -100).after(function() {
            self.slide.add(fedora4_img);
          });

        });
      });
   });
  }

  self.MARCtoBibframeintoFedora4 = function() {
   var titleGroup = self.svgDraw.group();
   self.slide.add(titleGroup);
   var title = self.svgDraw.text("MARC-to-BIBFRAME into Fedora" );
   title.font({ size: 48 }).move(20,20);
   titleGroup.add(title);
   var info = self.svgDraw.group();
   self.slide.add(info);
   var description = self.svgDraw.text(function(add) {
     add.tspan("Workflow for transforming MARC21 records").newLine()
     add.tspan("Step 1. Extracting records from legacy ILS").newLine()
   });
   description.font({ size: 18 });
   description.build(true);
   info.add(description);
   info.move(25, 60);
   var animation = self.svgDraw.group();
   var serverIcon = self.svgDraw.group();
   serverIcon.add(self.svgDraw.image("{{ url_for('static', filename='img/Home-Server-icon.png') }}"));
   serverIcon.add(self.svgDraw.text("Hosted ILS").move(15, 100));
   animation.add(serverIcon);
   serverIcon.move(480, 110);
   var marc21 = self.svgDraw.image("{{ url_for('static', filename='img/marc21-icon.gif') }}");
   animation.add(marc21);
   marc21.scale(0.6, 0.6).move(270, 130);
   marc21.animate(3000).dx(-200).after(function() {
     var fedoraRepo = self.svgDraw.group();
     fedoraRepo.add(self.svgDraw.image("{{ url_for('static', filename='img/fedora4-repo.png') }}"));
     fedoraRepo.add(self.svgDraw.text("Fedora4 Repository").move(5, 100));
     fedoraRepo.move(480, 220);
     description.tspan("Step 2. MARC21 records ingested into Fedora4").newLine();
     marc21clone = marc21.clone();
     marc21clone.dx(210);
     self.slide.add(marc21clone);
     marc21clone.move(70, 80).animate(3000).move(470, 220).after(function() {
       serverIcon.hide();
       description.tspan("Step 3. MARC21 records converted to MARCXML").newLine();
       marc21.hide();
       var marcXML = self.svgDraw.image("{{ url_for('static', filename='img/marc-xml.png') }}");
       self.slide.add(marcXML);
       marcXML.move(240, 130);
       var xquery = self.svgDraw.text("XQuery Conversion").font({ size: 20 }).fill({ color: '#A0A0A0' });
       self.slide.add(xquery);
       xquery.hide().move(250, 250);
       marcXML.animate(2000).dy(40).after(function() {
        marc21clone.hide()
        description.tspan("Step 4. MARC XML is converted to BIBFRAME RDF XML").newLine()
        description.tspan("    through LOC's marc2bibframe XQuery utility").newLine()
        xquery.show();
        marcXML.animate(2000).dmove(40, 80).after(function() {
         var bfRDF = self.svgDraw.group();
         bfRDF.add(self.svgDraw.rect(110, 90).stroke({ width: 1 }).fill({ color: '#FFFFFF'}));
         bfRDF.add(self.svgDraw.text("BIBFRAME RDF").move(5, 10));
         bfRDF.move(300, 250);
         marcXML.hide();
         bfRDF.animate(2000).dmove(40, 40).after(function() { 
          xquery.hide(); 
          description.tspan("Step 5. BIBFRAME resource graphs extracted").newLine();
          description.tspan("  and ingested into Fedora4").newLine();
          bfRDF.backward();
          fedoraRepo.backward();
          var person = self.svgDraw.group();
          self.slide.add(person);
          person.add(self.svgDraw.image("{{ url_for('static', filename='img/personAuthority.png') }}"));
          person.add(self.svgDraw.text("bf:Person RDF").move(5, 100));
          person.move(300, 300).animate(1000).dx(200).after(function() { 
            person.animate(1000).dy(-100).after(function() { 
              person.dx(65).animate(1000).scale(0.6, 0.6) });
          });
          var work = self.svgDraw.group();
          self.slide.add(work);
          work.add(self.svgDraw.image("{{ url_for('static', filename='img/Work.png') }}"));
          work.add(self.svgDraw.text("bf:Work RDF").move(5, 100));
          work.move(300, 400).animate(1000).dx(200).after(function() { 
            work.animate(1000).dy(-100).after(function() { 
              work.dx(120).animate(1000).scale(0.6, 0.6) });
          });
 
         });
       });
      });
    });
  });    
  
   
   

  }

  self.finalThoughts = function() {



  }

  self.startPresentation = function() {
   self.counter(60);
   self.counterColor('green');
      self.countdownTimer = setInterval(self.updateCounter, 1000); 
  }

  self.updateCounter = function() {
   self.counter(self.counter() - 1);
   
   // Presentation time points
   if(self.counter() >= 59) { 
     self.slide.clear();
     self.whatCatalogPullPlatform(self.svgDraw);

   }

   if(self.counter() == 50) {
     self.slide.clear();
     self.bibframeLD();     
   }

   if(self.counter() == 40) {
     self.slide.clear();
     self.fedora4();
   }

   if(self.counter() == 30) {
     self.slide.clear();
     self.flaskAndFedora();
   }


   if(self.counter() == 20) {
     self.slide.clear();
     self.MARCtoBibframeintoFedora4();
   }

   if(self.counter() == 10) {
     self.slide.clear();
     self.finalThoughts();
   }



   if(self.counter() <= 30 && self.counter() > 15) {
     self.counterColor("rgb(255,201,14)");
   }
   if(self.counter() <= 15) {
     self.counterColor("red");
   }
   if(self.counter() == 0) {
    clearInterval(self.countdownTimer);

   }   
  }

 }
 var poster_view_model = new PosterViewModel()
 ko.applyBindings(poster_view_model);
</script>
{% endblock %}
